header{
    height: 12vh;
    background-color: aliceblue;
    background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
}
@media (max-width: 480px) {
    header{
        height: 6vh;
    }
}
nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
.nav-heading{
    font-size: 2.3em;
    font-weight: bold;
}
.nav-heading a{
    color: white;
}

.end-nav-links{
    padding-right: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 100%;
}
li a{
    text-decoration: none;
    color: black;
}

.profile-icon-container{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(206, 203, 203);
    position: relative;
}

.profile-icon{
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(143, 141, 141, 0.7);
}
.user-profile-img{
    width: 55px;
    height: 55px;
}

.wallet-and-points {
    background-color: #fff;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    padding: 4px 12px;
    box-shadow: 0 0 4px rgba(143, 141, 141, 0.7);
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-points{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.nav-points img{
    width: 30px;
    height: 30px;
}
.nav-wallet{
    background-color: rgb(238, 236, 236);
    width: 60%;
    padding: 4px;
    border: 1px solid rgb(252, 218, 218);
    border-radius: 50px;
    font-size: 1.1em;
    color: rgb(90, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .nav-links{
        width: 95%;
    }
    .nav-heading{
        font-size: 1.2rem;
    }
    .end-nav-links{
        padding-right: 2px;
    }
    .wallet-and-points{
        width: 125px;
        height: 30px;
    }
    .nav-points{
        font-size: 0.8em;
        display: flex;
        align-items: center;
    }
    .nav-points img{
        width: 25px;
        height: 25px;
    }
    .nav-wallet{
        width: 60%;
        height: 20px;
        font-size: 0.8em;
    }
    .profile-icon{
        width: 35px;
        height: 35px;
    }
    .user-profile-img{
        width: 45px;
        height: 45px;
    }
}

.login-signup-links{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    border-radius: 5px;
    padding: 5px;
    height: 110px;
    position: absolute;
    top: 50px;
    right: 5px;
    border: 1px solid rgb(228, 228, 228);
}
.login-signup-links a{
    border-bottom: 1px solid #cecccc;
    width: 90%;
    padding: 4px;
    padding-bottom: 4px;
}
.login-signup-links a:last-child{
    border-bottom: none;
}
.login-signup-links a:hover{
    background-color: aliceblue;
}
